<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbVersion</key>
	<string>1</string>
	<key>dbFileName</key>
	<string>QRCode.sqlite</string>
	<key>totalUrl</key>
	<string>http://202.119.81.162:8080</string>
	<key>demoAccount</key>
	<string>22875-SJPD</string>
	<key>demoPassword</key>
	<string>1234</string>
</dict>
</plist>
